<a href="https://colab.research.google.com/github/pyonan/Study-of-Conditional-Statements/blob/main/experiment6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment-6
##Title: Conditional Statements

In [24]:
# Check whether a number is positive or negative
num=int(input('Enter a number:'))
if num>=0:
  print('Number is positive')
else:
  print('Number is negative')

Enter a number:-32
Number is negative

In [25]:
num=int(input('Enter a number:'))
if num>0:
  print('Number is positive')
elif num<0:
  print('Number is negative')
else:
  print('Number is 0')

Enter a number:0
Number is 0

In [23]:
# determine whether the number is odd or even
num=int(input('Enter Number:'))
if num%2==0:
  print('Number is even')
else:
  print('Number is odd')

Enter Number:354
Number is even

In [22]:
# Find the largest number
num1=int(input('Enter Number 1: '))
num2=int(input('Enter Number 2: '))

if num1>num2:
  print(num1,' is greater')
elif num1==num2:
  print('Both numbers are equal')
else:
  print(num2, ' is greater')

Enter Number 1: 32
Enter Number 2: 45
45  is greater

In [ ]:
# to find the greatest among 3 numbers
num1=int(input('Enter Number 1:'))
num2=int(input('Enter Number 2:'))
num3=int(input('Enter Number 3:'))

if num1>num2 | num1>num3:
  print(num1,' is greater')
elif num1<num2 | num2>num3:
  print(num2,' is greater')
elif num1==num2 | num1==num3:
  print('The numbers are equal')
else:
  print(num3,' is greater')

Enter Number 1:10
Enter Number 2:32
Enter Number 3:1
32  is greater

In [ ]:
# Marks Avg
iks=int(input('iks marks:'))
dcld=int(input('dcld marks:'))
amt=int(input('amt marks:'))
edp=int(input('edp marks:'))
pes=int(input('pes marks:'))

avg= (iks+dcld+amt+edp+pes)/5
avg_percent=avg*100

if avg_percent >= 90:
  print("Grade: A")
elif avg_percent>=80 and avg_percent<90:
  print("Grade: B")
elif avg_percent>=70 and avg_percent< 80:
  print("Grade: c")
elif avg_percent>=60 and avg_percent < 70:
  print("Grade: D")
else:
  print('Fail')

iks marks:80
dcld marks:74
amt marks:96
edp marks:60
pes marks:100
Grade: A

In [ ]:
# Leap Year or not
year=int(input('Enter year:'))

if (year%4==0 and year%100!=0) or (year%400==0):
  print(year,' is a leap year')
else:
  print(year,' is not a leap year')

Enter year:2026
2026  is not a leap year

In [20]:
#Check if a date is valid and print incremented date
date=input('Enter date in dd/mm/yyyy')
dd,mm,yyyy=date.split('/')
dd=int(dd)
mm=int(mm)
yyyy=int(yyyy)

if(mm==1 or mm==3 or mm==5 or mm==7 or mm==8 or mm==10 or mm==12):
  max=31
elif(mm==4 or mm==6 or mm==9 or mm==11):
  max=30
elif (year%4==0 and year%100!=0) or (year%400==0):
  max=29
else:
  max=28

if dd>max:
  print('Invalid Date')
elif dd==max and mm<12:
  dd=1
  mm+=1
  print('Tomorrow is',dd,mm,yyyy)
elif dd==max and mm==12:
  dd=1
  mm=1
  yyyy+=1
  print('Tomorrow is',dd,mm,yyyy)
elif mm<1 and mm>12:
  print('Invalid Date')
else:
  dd+=1
  print('Tomorrow is',dd,mm,yyyy)

Enter date in dd/mm/yyyy22/02/2007
Tomorrow is 23 2 2007

In [18]:
# Gross Salary
basic=float(input('Enter basic salary:'))
if basic<= 10000:
  hra=basic*0.20
  da=basic*0.80
  total=basic+hra+da
  print('Total Salary:',total)
elif basic>10000 and basic<=20000:
  hra=basic*0.25
  da=basic*0.90
  total=basic+hra+da
  print('Total Salary:',total)
else:
  hra=basic*0.30
  da=basic*0.95
  total=basic+hra+da
  print('Total Salary:',total)

Enter basic salary:15000
Total Salary: 32250.0

In [17]:
# income tax
income=float(input('Enter annual income:'))
if income>250500 and income<=500000:
  tax=income*0.05
elif income>500000 and income<1000000:
  tax=income*0.20
elif income<1000000:
  tax=income*0.30

print("Income Tax applicable:",tax)

Enter annual income:10000
Income Tax applicable: 3000.0